In [1]:
from transformers import T5Tokenizer, T5Model

In [1]:
import pandas as pd

In [3]:
tokenizer = T5Tokenizer.from_pretrained("t5-small")
model = T5Model.from_pretrained("t5-small")

input_ids = tokenizer(
    "Studies have been shown that owning a dog is good for you", return_tensors="pt"
).input_ids  # Batch size 1

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [4]:
decoder_input_ids = tokenizer("Studies show that", return_tensors="pt").input_ids  # Batch size 1

In [5]:
# forward pass
outputs = model(input_ids=input_ids, decoder_input_ids=decoder_input_ids)
last_hidden_states = outputs.last_hidden_state

In [ ]:
from transformers import T5Tokenizer, T5ForConditionalGeneration

# Load the tokenizer and model
tokenizer = T5Tokenizer.from_pretrained("t5-small")
model = T5ForConditionalGeneration.from_pretrained("t5-small")

In [13]:
from transformers import T5Tokenizer, T5ForConditionalGeneration

# Load the tokenizer and model
tokenizer = T5Tokenizer.from_pretrained("t5-small")
model = T5ForConditionalGeneration.from_pretrained("t5-small")

# Define the input text for question answering
input_text = "法国的首都是哪里？"

# Tokenize the input text
input_ids = tokenizer(input_text, return_tensors="pt").input_ids

# Generate output
outputs = model.generate(input_ids)

# Decode and print the generated text
print(tokenizer.decode(outputs[0], skip_special_tokens=True))

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

?

In [2]:
pd.read_csv('family_name.csv')

    surname  pinyin
0         王    Wáng
1         余      Yú
2         李      Lǐ
3         潘     Pān
4         张   Zhāng
..      ...     ...
371      女娲    Nǚwā
372      纳兰   Nàlán
373      澹台  Dàntái
374      拓跋   Tuòbá
375      太史  Tàishǐ

[376 rows x 2 columns]

In [3]:
import pandas as pd

names = [
    "Anna", "Emily", "Sarah", "Jessica", "Sophia", "Olivia", "Mia", "Grace", "Lily", "Chloe",
    "Ella", "Ava", "Isabella", "Charlotte", "Amelia", "Harper", "Scarlett", "Aria", "Zoe", "Lucy",
    "Ruby", "Stella", "Victoria", "Natalie", "Hannah", "Aaliyah", "Layla", "Audrey", "Claire", "Bella",
    "Maya", "Naomi", "Sadie", "Aurora", "Ellie", "Peyton", "Savannah", "Autumn", "Quinn", "Cora",
    "Lila", "Sienna", "Alice", "Julia", "Leah", "Kayla", "Gabriella", "Sophie", "Eliana", "Rylee",
    "Tessa", "Jasmine", "Lydia", "Faith", "Kinsley", "Mackenzie", "Arabella", "Nicole", "Ainsley",
    "Madeline", "Sloane", "Valentina", "Bianca", "Gemma", "Zara", "Freya", "Celine", "Elise", "Mira",
    "Quinn", "Raina", "Talia", "Willa", "Alina", "Clara", "Nia", "Skye", "Summer", "Ember", "Faye",
    "Jada", "Kira", "Lacey", "Mira", "Nola", "Ophelia", "Poppy", "Rhea", "Suri", "Tatum", "Veda",
    "Zuri", "Zara", "Xena", "Yara", "Zadie", "Aisha", "Nessa", "Sable", "Liana"
]

pinyin = [
    "Ān nà", "Yī mǐ lǐ", "Sà lā", "Jié sī kǎ", "Suǒ fēi yà", "Ào lì wēi yà", "Mǐ yà", "Gè lā sī", "Lì lì",
    "Kè luò yī", "Ài lā", "Ài wǎ", "Yī sà bā lā", "Shā luò tè", "Āi méi lǐ yà", "Hā bó", "Sī kǎ lēi tè",
    "Ā lǐ yà", "Zōu yì", "Lù xī", "Lù bǐ", "Sī tèlā", "Wéi kè tǎ lǐ yà", "Nà tǎ lǐ", "Hàn nà", "Ài lì yà",
    "Lèi lā", "Ào dé lǐ", "Kè lǎi ěr", "Bèi lā", "Mǎ yà", "Náo mǐ", "Sà dì", "Ào lù lā", "Ài lì", "Pèi tùn",
    "Sà wén nà", "Āo tǔ mǔ", "Kūn", "Kē lā", "Lǐ lā", "Xī ēn nà", "Ài lì sī", "Zhū lǐ yà", "Lì yà", "Kāi lā",
    "Gā bǐ lā lā", "Suǒ fēi", "Ài lì ā nà", "Lái lì", "Tè sà", "Jiā sī mǐn", "Lǐ dì yà", "Fèi sī", "Kīn sī lǐ",
    "Mǎ kè zī nǐ", "À lā bèi lā", "Nī kè ěr", "Àn sī lǐ", "Mǎ dé lín", "Sī lōng", "Wéi ěr tīn nà", "Bǐ ān kǎ",
    "Jiē mǎ", "Zā lā", "Fú ruì yà", "Sè lín", "Yī lì sī", "Mǐ lā", "Kūn", "Léi nà", "Tā lì yà", "Wēi lā",
    "Ài lì nà", "Kè lā lā", "Nī yà", "Sī kǎi", "Sū mǔ", "Yīn bā", "Fèi", "Jiā dā", "Kī lā", "Lè sī", "Mǐ lā",
    "Nuò lā", "Ào fēi lì yà", "Pō pī", "Rè yà", "Sù lǐ", "Tā tǔ mǔ", "Wéi dá", "Zū lǐ", "Zā lā", "Xī nà",
    "Yà lā", "Zā dì", "Ài shā", "Nèi sà", "Sā bù", "Lì ā nà"
]

df = pd.DataFrame({'Name': names, 'Pinyin': pinyin})

In [4]:
df

       Name      Pinyin
0      Anna       Ān nà
1     Emily    Yī mǐ lǐ
2     Sarah       Sà lā
3   Jessica   Jié sī kǎ
4    Sophia  Suǒ fēi yà
..      ...         ...
95    Zadie       Zā dì
96    Aisha      Ài shā
97    Nessa      Nèi sà
98    Sable       Sā bù
99    Liana     Lì ā nà

[100 rows x 2 columns]

In [8]:


# List of 100 male English names
names_male = [
    "Liam", "Noah", "Oliver", "Elijah", "James", "William", "Benjamin", "Lucas", "Henry", "Alexander",
    "Jackson", "Sebastian", "Aiden", "Matthew", "Samuel", "David", "Joseph", "Carter", "Owen", "Wyatt",
    "John", "Jack", "Luke", "Isaac", "Gabriel", "Anthony", "Dylan", "Leo", "Lincoln", "Jaxon",
    "Asher", "Christopher", "Mason", "Ethan", "Joshua", "Andrew", "Isaiah", "Thomas", "Charles", "Caleb",
    "Ryan", "Nathan", "Adrian", "Christian", "Hunter", "Jonathan", "Jeremiah", "Elias", "Jordan",
    "Cooper", "Landon", "Nolan", "Brody", "Xavier", "Jace", "Silas", "Gavin", "Zachary", "Emmett",
    "Miles", "Tristan", "Santiago", "Ryder", "Sawyer", "Colton", "Harrison", "Jasper", "Kaden", "Maxwell",
    "Beckett", "Graham", "Kieran", "Luca", "Ronan", "Everett", "Dante", "Finn", "Theo", "Zane",
    "Cyrus", "Kendrick", "Milo", "Quinn", "Riley", "Tobias", "Wesley", "Jett", "Rafael", "Tanner",
    "Koa", "Rocco", "Zion", "Dawson", "Bodhi", "Khalil", "Kellan", "Reed", "Rylan", "Maddox",
    "Derrick", "Kendall", "Jovany", "Kason", "Ruben", "Malik", "Dante", "Kendrick", "Jovany", "Kason"
]

# Corresponding pinyin pronunciations for the 100 names
pinyin_male = [
    "Lì ā mǔ", "Nuò yà", "Ào lì fú", "Yī lā hā", "Jian mǔ sī", "Wēi lián", "Běn jī mǔ", "Lù kè sī", "Hēn lǐ",
    "Ài lǐ xī", "Jiā kè sūn", "Sā bā sī tǎn", "Ài dēng", "Mǎ sī", "Shā mǔ ēi", "Dà wèi", "Yǒu sī fū",
    "Kǎ tè","Ào wēn", "Wài yà tè", "Yuē hàn", "Jiā kè", "Lù kè", "Yī sà kè", "Gā bǐ ěr", "Ān thōnī", "Dì lán",
    "Lì ào","Lín kěn","Jié kè sēn","Ā shī", "Kè lǐ sī", "Mǎ sēn", "Yī sēn", "Yuē shū yà", "Ān dé lǔ","Yǐ sài yà", 
    "Tuō mǎ sī", "Chā ěr sī", "Jiā lè", "Lài ēn", "Ná dān", "Āi dé lǐ ān","Kè lǐ sī tǎn", "Hàn tè", "Zhōng nà sēn", "Yé lǐ mǎ", 
    "Yī lā sī", "Yuē dān", "Kù pǔ", "Lán dūn", "Nuò lán", "Bǔ luō dī", "Xī fēi ěr", "Jiǎ sī","Sī lā sī", "Gā wēn", "Zā kǎ lǐ", 
    "Yī mǔ tè", "Mǎi ěr sī", "Tè lǐ sī", "Sān tiāngō", "Lái dé", "Sā wēi ěr", "Kè ěr tǒng", "Hā lǐ sūn", "Jiā sī pǔ", "Kǎ dēn", 
    "Mǎ kè sī wēi ěr", "Bè kè tè","Gē lām", "Kǐ lán", "Lù kǎ", "Luó nán", "Ài wéi tè", "Dàn tè", "Fēn", "Sī ōu", "Zān è", 
    "Kǎi rǔ sī", "Kěn dé lǐ kè", "Mǐ luò", "Qū ǐn", "Lái lǐ", "Tā bǐ yà sī", "Wēi sī lǐ", "Jié tè","Lā fēi ěr", "Tán nà", 
    "Kē wā", "Luò kè", "Zī ōng", "Dá wēi sūn", "Bó dī", "Kǎ lì ěr", "Kē lán", "Lǐ dān", "Rú lán","Mǎ duō kè sī", "Dè lǐ kè", 
    "Kēn dā ěr", "Yóu wǎn nī", "Kǎ sōng",     "Lù bēn", "Mǎ lì kè", "Dàn tè", "Kěn dé lǐ kè", "Yóu wǎn nī", "Kǎ sōng"
]

In [9]:
df_male = pd.DataFrame({'Name': names_male, 'Pinyin': pinyin_male})

In [10]:
df_male

         Name        Pinyin
0        Liam       Lì ā mǔ
1        Noah        Nuò yà
2      Oliver      Ào lì fú
3      Elijah      Yī lā hā
4       James    Jian mǔ sī
..        ...           ...
104     Malik      Mǎ lì kè
105     Dante        Dàn tè
106  Kendrick  Kěn dé lǐ kè
107    Jovany    Yóu wǎn nī
108     Kason       Kǎ sōng

[109 rows x 2 columns]